[user]
	email = mattahorst@gmail.com
	name = Matt Horst
[init]
	defaultBranch = main
[core]
	editor = nvim
    pager = delta
[delta]
    navigate = true
    dark = true
[pull]
	rebase = true
[merge]
    conflictStyle = zdiff3
