#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

[[ -f ~/.welcome_screen ]] && . ~/.welcome_screen

_custom_PS1() {
	USER_COLOR="\[$(tput setaf 171)\]"
	HOST_COLOR="\[$(tput setaf 51)\]"
	DIR_COLOR="\[$(tput setaf 51)\]"
	ARROW_COLOR="\[$(tput setaf 82)\]"
	WHITE="\[$(tput setaf 15)\]"
	RESET="\[$(tput sgr0)\]"
	BOLD="\[$(tput bold)\]"
	source ~/.git-prompt.sh
	GIT_PS1_SHOWSTASHSTATE=true
	GIT_PS1_SHOWDIRTYSTATE=true
	GIT_PS1_SHOWCOLORHINTS=true
	GIT='$(__git_ps1 " (%s)")'
	PS1="${DIR_COLOR}\W${WHITE}${ARROW_COLOR} -> ${RESET}"
	PROMPT_COMMAND='__git_ps1 "${DIR_COLOR}\W${RESET}" " ${ARROW_COLOR}-> ${RESET}"'
}
_custom_PS1

# Aliases
alias ls='ls -F --color=auto'
alias ll='ls -lavF --ignore=..'   # show long listing of all except ".."
alias l='ls -lavF --ignore=.?*'   # show long listing but no hidden dotfiles except "."
alias gitlog='git log --graph --decorate --all'
alias gitstat='git status'
alias ff=firefox
alias logoff='loginctl terminate-user ${USER}'
{{- if eq .chezmoi.hostname "wsl" }}
alias ssh=ssh.exe
alias ssh-add=ssh-add.exe
{{- end }}

[[ "$(whoami)" = "root" ]] && return

[[ -z "$FUNCNEST" ]] && export FUNCNEST=100          # limits recursive functions, see 'man bash'

## Use the up and down arrow keys for finding a command in history
## (you can write some initial letters of the command first).
bind '"\e[A":history-search-backward'
bind '"\e[B":history-search-forward'

export EDITOR=/usr/bin/nvim

. "$HOME/.cargo/env"
