@define-color arch-blue #1793d1;

@import "colors.css";

* {
    border: none;
    font-family: "JetbrainsMono NF";
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: rgba(34, 36, 54, 0.8);
    border-radius: 10px;
    margin-top: 20px;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#idle_inhibitor,
#battery,
#taskbar,
#tray {
    color: @foreground;
    background: @background;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
}

/* Left Modules */
#clock,
#cpu,
#idle_inhibitor {
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Right Modules */
#clock,
#temperature,
#network {
    margin-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#clock {
    color: @cyan;
}

#cpu {
    color: @green;
}

#memory {
    color: @purple;
}

#disk {
    color: @pink;
}

#temperature {
    color: @orange;
}

#temperature.critical {
    color: @red;
}

#workspaces {
    background: @background;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 0px 5px;
}

#workspaces button {
    color: @inactive;
    background: transparent;
    margin: 0px 5px;
    padding: 0px 3px;
    transition: color 0.5s ease;
}

#workspaces button.active {
    color: @active;
}

#taskbar {
    background: @background;
    border-radius: 10px;
    padding: 0px 5px;
}

#taskbar button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

/* #taskbar button.active { */
/*     background: rgba(34, 36, 54, 0.5); */
/* } */
/**/
/* #taskbar button.hover { */
/*     background: rgba(34, 36, 54, 0.5); */
/* } */

#idle_inhibitor {
    color: @inactive;
    padding-right: 15px;
}

#idle_inhibitor.activated {
    color: @active;
    padding-right: 15px;
}

#wireplumber {
    color: @purple;
}

#wireplumber.muted {
    color: @inactive;
}

#wireplumber.microphone {
    color: @pink;
    padding-right: 10px;
}

#wireplumber.microphone.muted {
    color: @inactive;
}

#network {
    color: @green;
    padding-right: 15px;
}

#network.disconnected {
    color: @red;
    padding-right: 15px;
}

#battery {
	color: @cyan;
}

#battery.charging, #battery.plugged {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @orange;
}

#battery.critical:not(.charging) {
	color: @red;
}

#tray {
    border-radius: 10px;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}
